body{
    background-color: #FFFFFF;
    margin:0px;
}
.Upperlayer{
    width:100%;
    height:54px;    
    text-align: center;
    margin:auto;
    background-color:#FFFFFF;
    display:flex;
    position: relative;
    border-bottom:1px solid #CCC;
}
.title{
    position:absolute;
    width:150px;
    padding:10px;
    line-height: 34px;
    left:18.75%;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color:#448899
}
.title_left_button{
    position: absolute;
    right:18.75%;
    line-height: 54px;
}
.title_left_button_style{
    padding:10px 10px 10px 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    background-color: #FFFFFF;
    border: #FFFFFF;
}
.content{
    width:62.5%;
    height:370px;
    margin:37px auto;
    position:relative;
    border-bottom:1px solid #CCC;
}
.content #view{
    position:absolute;
    top:0;
    left:3px;
    width:45%;
    height:84.5%;
}
#view img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    visibility: hidden;
    opacity: 0;
}
#view img.show{
    opacity: 1;
    visibility: visible;
}
.prev{
    width:32px;
    height:32px;
    border-radius: 32px;
    border:none;
    position: absolute;
    top: 45%;
    left: 10px;
    cursor: pointer;
    transition: .4s;
    background-color: white;
}
.next{
    width:32px;
    height:32px;
    border-radius: 32px;
    border:none;
    position: absolute;
    top: 45%;
    right: 10px;
    transform: rotate(0.5turn);
    cursor: pointer;
    transition: .4s;
    background-color: white;
}
.Img_select{
    height:18px;
    position:absolute;
    width:100%;
    background-color: transparent;
    bottom:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Img_select #pic{
    margin:0 2px;
    width:18px;
    height:18px;   
    border-radius: 10px;
    background:white ;
    border:1px rgb(207, 203, 203) double;
}
.Img_select #pic.pic_now{
    margin:0 2px;
    width:18px;
    height:18px;   
    border-radius: 10px;
    background:black ;
    border:1px rgb(207, 203, 203) double;
}
.content #view_name{
    width:50%;
    height:24px;
    position: absolute;
    top:0;
    right:0;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
}
.content #view_cate{
    width: 50%;
    height: 22px;
    position: absolute;
    top: 40px;
    right: 0;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_travel{
    position: absolute;
    width: 50%;
    height: 245px;
    right:0;
    top: 65px;
    background: #E8E8E8;
    border-radius: 5px;
}
.view_travel #check_title{
    position: absolute;
    width: 560px;
    height: 22px;
    left: 20px;
    top: 15px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_travel #description{
    position: absolute;
    width: 560px;
    height: 24px;
    left: 20px;
    top: 42px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_travel #check_date{
    position: absolute;
    width: 81px;
    height: 17px;
    left: 20px;
    top: 77px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_travel #check_date input{
    position: absolute;
    left: 80px;
    top: -5px;
}
.view_travel #check_time{
    position: absolute;
    width: 280px;
    height: 17px;
    left: 20px;
    top: 113px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.view_travel #check_time input{ 
    width:18px;
    height:18px;   
    border-radius: 10px;
    background:white ;
    border:2px white double;
}
.view_travel #check_time input:focus{
    background-color: #448899;
    border:2px white double;
}
#button_text{
    width:66px;
    padding:2px;
    font-weight:normal;
    font-family: Noto Sans TC;
    font-style: normal;
    font-size: 14px;
    line-height: 13px;
    color: #666666;
}
.view_travel #check_money{
    position: absolute;
    width: 81px;
    height: 17px;
    left: 20px;
    top: 155px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_travel #check_money span{
    font-family: Noto Sans TC;
    width:107px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    left: 80px;
    top: -1px;
    font-size: 13px;
    line-height: 16px;
    color: #666666;
}
button#check_but{
    left: 20px;
    top: 190px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF; 
    line-height: 16px;
    padding: 10px 20px;
    position: absolute;
    width: 134px;
    height: 32px;
    background: #448899;
    border-radius: 5px;
    border:transparent;
    padding:2px;
}
.view_content{
    width:61.4%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.view_content #text{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}
.view_content #address_box{
    height: 32px;
    margin-top: 20px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.view_content #address{
    height: 24px;
    margin-bottom: 10px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
}
.view_content #traffic_box{
    height: 32px;
    margin-top: 20px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
}
.view_content #traffic{
    margin-bottom: 10px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
}
.footer{
    text-align: center;
    line-height: 104px;
    font-weight:bold;    
    width: 100%;
    height: 104px;
    margin:auto;
    background: #757575;
}

@media (max-width:599px){
    .title{
        left:0px;
    }
    .title_left_button{
        right:0px;
    }
    .content{
        width:100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .content #view, .content #view_name, .content #view_cate, .content{
        width:100%;
        position:relative;
    }
    .content #view img{
        overflow:hidden;
        max-height: 350px;
    }
    .view_travel{
        margin:auto;
        height:360px;
        width:340px;
        position: relative;
    }

    .view_travel #description{
        width:300px;
        line-height: 24px;
        top:15px;   
    }
    .view_content{
        width:90%;
        margin-top: 90px;
    }

}