<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景點介紹</title>
    <link rel="stylesheet" href="../static/css/repo_attraction.css" type="text/css">
    <script src="{{ url_for('static', filename='js/attraction.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/firstload.js') }}" defer></script>
    <!--{{ url_for('static', filename='css/repo_attraction.css') }} -->
</head>
<script>
    const id = {{id}};
</script>
<body onload="init();">
    <div class="background_layer" onclick="closeJump();"></div>
    <div class = "signbox">
        <div class="sign_upper"></div>
        <img src="{{ url_for('static', filename='css/fig/close.png') }}" id="close_window" onclick="closeJump();">
        <form class="signform">
            <div class="sign_title">登入會員帳號</div>
            <input type="text" class="emailbox" placeholder="輸入電子信箱" name="email">
            <input type="text" class="passwordbox" placeholder="輸入密碼" name="password">
            <button class="signbut" type="button" onclick="signIn();">登入帳戶</button>
            <div class="notification">還沒有帳戶? <span onclick="SignUpPage();">點此註冊</span></div>
            <div class=notification style="font-weight: bold;color:red"></div>
        </form>    
    </div>
    <div class = "signupbox">
        <div class="sign_upper"></div>
        <img src="{{ url_for('static', filename='css/fig/close.png') }}" id="close_window" onclick="closeJump();">
        <form class="signupform">
            <div class="sign_title">註冊會員帳號</div>
            <input type="text" class="emailbox" placeholder="輸入電子信箱" name="email">
            <input type="text" class="passwordbox" placeholder="請輸入密碼" name="password">
            <input type="text" class="username" placeholder="輸入用戶名" name="username">
            <button type="button" class="signbut" onclick="signUp();">註冊帳戶</button>
            <div class="notification">已有帳戶?<span style="font-weight: bold;" onclick="BackToSign();"> 點此登入</span></div>
            <div class="notification" style="font-weight: bold; color:red"></div>
        </form>    
    </div>
    <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
    <div class="Upperlayer">
        <div class="title">台北一日遊</div>
        <div class="title_left_button">
            <button id="order">預定行程</button>
            <button id="signin" onclick="SignInPage();">登入/註冊</button>
        </div>
    </div>
    <div class="content">
        <div class ="view">
            <button id="prev"><img src="{{ url_for('static', filename='css/fig/arrow.png') }}" class = "show" onclick="showPrev();"></button>
            <button id="next"><img src="{{ url_for('static', filename='css/fig/arrow.png') }}" class = "show" onclick="showNext();"></button>
        </div>
        <div id ="view_name"></div>
        <div id = "view_cate"></div>
        <form class = "view_travel">
            <div id = "check_title">訂購導覽行程</div>
            <div id = "description">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <div id = "check_date">選擇日期：<input type="date"></div>
            <div id = "check_time">選擇時間：
                <input type="button" id="upperday"  onclick="Price(this);"/><div id ="button_text">上半天</div>
                <input type="button" id = "downday"  onclick="Price(this);"/><div id ="button_text">下半天</div>
            </div>
            <div id = "check_money">導覽費用：</div>
            <button id = "check_but">開始預訂行程</button>
        </form>
    </div>
    <div class = "view_content">
        <div id = "text"></div>
        <div id = "address_box">景點地址：</div>
        <div id = "address"></div>
        <div id = "traffic_box">交通方式：</div>
        <div id = "traffic"></div>
    </div>
    <div class="footer">
        COPYRIGHT © 2021 台北一日遊
    </div>
</body>
</html>