<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/repo_index.css') }} " type="text/css">
    <script src="{{ url_for('static', filename='js/firstload.js') }}" defer></script>
</head>
<body style="margin:0px;" onload="init();">
    <div class="background_layer" onclick="closeJump();"></div>
    <div class = "signbox">
        <div class="sign_upper"></div>
        <img src="{{ url_for('static', filename='css/fig/close.png') }}" id="close_window" onclick="closeJump();">
        <form class="signform">
            <div class="sign_title">登入會員帳號</div>
            <input type="text" class="emailbox" placeholder="輸入電子信箱" name="email">
            <input type="text" class="passwordbox" placeholder="輸入密碼" name="password">
            <button class="signbut" type="button" onclick="signIn();">登入帳戶</button>
            <div class="notification">還沒有帳戶? <span onclick="SignUpPage();">點此註冊</span></div>
            <div class=notification style="font-weight: bold;color:red"></div>
        </form>    
    </div>
    <div class = "signupbox">
        <div class="sign_upper"></div>
        <img src="{{ url_for('static', filename='css/fig/close.png') }}" id="close_window" onclick="closeJump();">
        <form class="signupform">
            <div class="sign_title">註冊會員帳號</div>
            <input type="text" class="emailbox" placeholder="輸入電子信箱" name="email">
            <input type="text" class="passwordbox" placeholder="請輸入密碼" name="password">
            <input type="text" class="username" placeholder="輸入用戶名" name="username">
            <button type="button" class="signbut" onclick="signUp();">註冊帳戶</button>
            <div class="notification">已有帳戶?<span style="font-weight: bold;" onclick="BackToSign();"> 點此登入</span></div>
            <div class="notification" style="font-weight: bold; color:red"></div>
        </form>    
    </div>
    <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
    <div class="Upperlayer">
        <div class="title">台北一日遊</div>
        <div class="title_left_button">
            <button id="order">預定行程</button>
            <button id="signin" onclick="SignInPage();">登入/註冊</button>
        </div>
    </div>
    <div class="Middlelayer">
            <img src="{{ url_for('static', filename='css/fig/welcome 1.png') }}" id="welcome">
            <div id="title_1">輕鬆享受台北一日悠閒</div>
            <div id="title_2">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search">
                <form id="search_box" onsubmit="SearchAttr();">
                    <input type="text" id="view_search" placeholder="輸入景點名稱查詢" name="input_keyword">
                    <button id="search_icon" type="submit">
                        <img src="{{ url_for('static', filename='css/fig/icon_search.png') }}">
                    </button>
                </form>
            </div>
    </div>
    <div class="loading">
        <img src="{{ url_for('static', filename='css/fig/loading.png') }}" id ="load_img">
    </div>
    <div class="footer">
        COPYRIGHT © 2021 台北一日遊
    </div>
</body>
</html>
